.recent-body{
    height: 140vh;
    align-items: center;
    padding-top: 90px;
}
.recent-heading{
  font-family:sans ;
  text-align: center;
  font-size: 3vmin;
  color: #39398e;
  margin-bottom: 90px;
}
.Recentfinishes{
    width: 75%;
    margin: 0 auto;
}

.item{
    min-width: 20rem;
  }
  
  .item img{
    width: 80%;
    height: 80%;
    margin: 40px 0px 0px 35px;
    border-radius: 4px;
    pointer-events: none;
  }
  
  .inner-carousel{
    display: flex;
  }
  
  .carousel{
    background-color: rgb(176, 176, 211);
    border-radius: 10px;
    cursor:grab;
    overflow: hidden;
  }
.carousel p{
  text-align: center;
  font-size: 19px;
  font-weight: 600;

}

@media only screen and (max-width:900px){
  .recent-body{
    height: 100vh;
  }
}
@media only screen and (max-width:700px){
  .recent-body{
    height: 120vh;
  }
}
@media only screen and (max-width:500px){
  .recent-body{
    height: 95vh;
  }
}
